@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .whitespace-pre-wrap {
        white-space: pre-wrap;
    }
}

@media print {
    @page {
        margin: 0;
        size: auto;
    }

    body {
        background: white;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .print\:hidden {
        display: none !important;
    }

    .print\:block {
        display: block !important;
    }

    .print\:w-full {
        width: 100% !important;
    }

    .print\:p-0 {
        padding: 0 !important;
    }

    .print\:m-0 {
        margin: 0 !important;
    }

    .print\:shadow-none {
        box-shadow: none !important;
    }
}